{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/login'>
{% block content %}
{% include('messages.html') %}
    <table>
        <p><h2>Навигация:</h2></p>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <a href="{{ url_for('people.index') }}">{{ home_page_form.people }}</a>
            </div><br>
            <div class="form-group">
                <a href="{{ url_for('company.index') }}">{{ home_page_form.company }}</a>
            </div><br>
            <div class="form-group">
                <a href="{{ url_for('policy.index') }}">{{ home_page_form.policy }}</a>
            </div><br>
            <div class="form-group">
                <a href="{{ url_for('address.index') }}">{{ home_page_form.address }}</a>
            </div><br>
            <div class="form-group">
                <a href="{{ url_for('transport.index') }}">{{ home_page_form.transport }}</a>
            </div><br>
            <div class="form-group">
                <a href="{{ url_for('event.index') }}">{{ home_page_form.event }}</a>
            </div>
        </div>
    </div>
    </table>
{% endblock %}
</form>

{% endblock %}