{% extends 'base.html' %}

{% block body %}

<h2>{{ title }}:</h2>

<form method='POST' action='/policy'>
<table>
<tr><td>Серия</td><td><input series='series' type='TEXT', width='60'></td></tr>
<tr><td>Номер</td><td><input number='number' type='TEXT', width='60'></td></tr>
<tr><td>Дата выдачи</td><td><input date_of_issue='date_of_issue' type='DATE' ></td></tr>
<tr><td>Вид полиса</td><td><input type_policy='type_policy' type='TEXT', width='60'></td></tr>
<tr><td>Название страховой компании</td><td><input name_of_company='name_of_company' type='TEXT', width='60'></td></tr>
<tr><td>Адрес</td><td><input address='address' type='TEXT', width='60'></td></tr>
</table>
</form>

{% endblock %}