{% extends 'base.html' %}

{% block content %}
{% include('messages.html') %}
<form method='POST' action="{{ url_for('people.process_save') }}" method="POST">
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                {{ people_form.last_name.label }}
                {{ people_form.last_name }}
            </div>
            <div class="form-group">
                {{ people_form.first_name.label }}
                {{ people_form.first_name }}
            </div>
            <div class="form-group">
                {{ people_form.patronymic.label }}
                {{ people_form.patronymic }}
            </div>
            <div class="form-group">
                {{ people_form.birth_date.label }}
                {{ people_form.birth_date }}
            </div><br>
            {% if current_user.is_admin %}
            <div class="form-group">
                {{ people_form.delete }}
            </div><br>
            {% endif %}
            <div class="form-group">
                {{ people_form.save }}
            </div><br>
            <div class="row">
                <div class="col-2">
                    <div class="form-group">
                        {{ people_form.prev }}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        {{ people_form.next }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}